<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tree.commentReview.mapper.CommentReviewMapper">
    <insert id="insertCommentReview">
        INSERT INTO comment_review
        (reviewId, commentId)
        VALUES(#{reviewId}, #{commentId});
    </insert>

    <delete id="deleteCommentReview">
        delete from comment_review
        where reviewId = #{reviewId}
    </delete>

    <select id="getCommentReview" resultType="tree.commentReview.dto.CommentReviewResponseDto">
        select cr.commentId, count(*) as  count ,  ccr.comment, ccr.iconImg
        from comment_review cr
        join review r
        on cr.reviewId = r.reviewId
        join cd_comment_review ccr
        on cr.commentId = ccr.commentId
        where r.treeId = #{treeId}
        group by cr.commentId
        order by count desc
    </select>

    <select id="getCommentList" resultType="tree.commentReview.dto.CommentReviewResponseDto">
        select cr.commentId
        , ccr.comment
        , ccr.iconImg
        from comment_review cr
        join cd_comment_review ccr
        on cr.commentId = ccr.commentId
        where reviewId = #{reviewId}
        order by cr.commentId
    </select>

    <select id="getCommentReviewInitList" resultType="tree.commentReview.dto.CommentReviewResponseDto">
        select commentId
        , comment
        , iconImg
        from cd_comment_review
        order by commentId
    </select>

</mapper>